<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h1> Registration confirmed</h1>
                </div>
                <div class="card-body">
                    <ul>
                        <li th:text="'User name: ' + ${User.userName}"></li>
                    </ul>
                </div>
                <a th:href="@{/}" class="btn btn-secondary btn-block mt-3"  > Back to Login </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>