<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1> Employee table </h1>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout">
        </form>
    </div>

    <hr>
    <a th:href="@{/employees/add-employees}" class="btn btn-primary"> Add Employee </a>
    <br>
    <br>
    <div class="row">
        <div class="col-md-8 row mx-auto">
            <table class="table table-stripped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="employee : ${employees}">
                        <td th:text="${employee.firstName}" />
                        <td th:text="${employee.lastName}" />
                        <td th:text="${employee.email}" />
                        <td>
                            <a th:href="@{/employees/updateEmployee(employeeId=${employee.id})}" class="btn btn-info"> Update </a>
                            <a th:href="@{/employees/deleteEmployee(employeeId=${employee.id})}"
                               th:onclick="if(!confirm('Are you sure you want to delete this employee ?')) {return false;}"
                               class="btn btn-danger"> Delete </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
